#app-container{
    margin-top: 30px;
    max-width: 600px;
}

#row1{
    padding: 0;
    margin: 0;
}

#search-bar{
    text-align: right;
}

.fa-sun{
    color: rgb(250, 176, 5);
    font-size: 50px;
    text-align: center;
    margin-left: 40px;
    margin-right: 20px;
    /*float:inline-start;
    display: inline-block;*/

}

#mainT{
    color: black;
    padding: 0;
    margin: 0;
}



